/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */

* {
  font-family: "Poppins", sans-serif;
}

#logo {
  display: inline-block;
  text-decoration: none;
  color: initial;
  margin-top: 1.5rem;
  margin-left: 4.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#logo:hover {
  cursor: pointer;
}

#book {
  color: #8453d3;
}

#tagline {
  color: #202020;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5rem;
}

#description {
  color: #606060;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

input {
  border-radius: 10px;
}

form {
  margin-top: 2.5rem;
}

input[type="text"] {
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
}

input[type="submit"] {
  margin-top: 1rem;
  display: block;
  border: none;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #8453d3;
  color: #fff;
  font-weight: 500;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #5e3c96;
}

main {
  display: flex;
  height: 100vh;
}

#hero-content {
  width: 55%;
}

#hero-image {
  width: 45%;
  height: 100vh;
  background: url("./assets/sid-saxena--7EqDr9UE_M-unsplash\ \(1\).jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  margin-top: 6.5rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}
