/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */

* {
  font-family: "Poppins", sans-serif !important;
}

.logo {
  display: inline-block;
  text-decoration: none;
  color: initial;
  margin-top: 1.5rem;
  margin-left: 4.5rem;
  font-size: 24px;
  font-weight: 600;
}
.logo:hover {
  cursor: pointer;
}

#book {
  color: #8453d3;
}

#tagline {
  color: #202020;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5rem;
}

#description {
  color: #606060;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

input {
  border-radius: 10px;
}

form {
  margin-top: 2.5rem;
}

#search_item {
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
}

#search_button {
  margin-top: 1rem;
  display: block;
  border: none;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #8453d3;
  color: #fff;
  font-weight: 500;
}

#search_button:hover {
  cursor: pointer;
  background-color: #5e3c96;
}

main {
  display: flex;
  height: 100vh;
}

#hero-content {
  width: 55%;
}

#hero-image {
  width: 45%;
  height: 100vh;
  background: url("./assets/bookquest-landing-page-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  margin-top: 6.5rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

#search-results {
  background-color: #f3f3f3;
  padding: 4.5rem;
}

#search-info {
  display: flex;
  justify-content: space-between;
}

#search-info div p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  color: #202020;
}

#search-info div p:nth-of-type(2n) {
  margin-top: 0.5rem;
  color: #606060;
  font-size: 1rem;
}

#adjust-search {
  align-self: flex-end;
}

#filter {
  margin-right: 0.5rem;
}

#books-found {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.book-card {
  width: 18.75rem;
  height: 26rem;
  background-color: #fff;
  border-radius: 0.4em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.book-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #8453d3;
}

#cover-container {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#book-cover {
  height: 12rem;
}

#book-details {
  padding: 0 1.5rem;
  overflow: hidden;
}

#book-details p:first-child {
  color: #8453d3;
  font-size: 1.25rem;
  font-weight: 600;
}

#book-details p:nth-of-type(2n) {
  margin-top: 0.5rem;
  color: #606060;
  font-size: 1rem;
}

#book-details #overview {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #202020;
  height: 4rem;
  text-overflow: ellipsis;
}

#top-btn {
  box-sizing: border-box;
  background-color: #8453d3;
  color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
}

#top-btn:hover {
  cursor: pointer;
  background-color: #5e3c96;
}

.hidden {
  display: none !important; 
}
